In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import os
import matplotlib.pylab as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import sklearn.metrics
from sklearn import datasets
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv("billauthent_aldie.csv")

In [3]:
data.head(5)

   Variance  Skewness  Curtosis  Entropy  Class
0    4.7327    9.7772   -3.9184 -0.44499      0
1    5.6560    9.2785   -3.5697 -1.57210      0
2    4.9770   -2.7393    1.9242  0.10745      0
3    4.5677    9.6338   -4.0112 -3.69440      0
4    2.5146   -4.4552    4.7939 -0.99880      0

In [4]:
data.shape

(1372, 5)

In [5]:
data.isnull().sum()

Variance    0
Skewness    0
Curtosis    0
Entropy     0
Class       0
dtype: int64

In [6]:
data_clean = data.dropna()

In [7]:
data_clean.describe()

          Variance     Skewness     Curtosis      Entropy        Class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.443937     1.925754     1.396214    -1.192746     0.444606
std       2.853042     5.874472     4.312008     2.102060     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.499450     2.319650     0.616630    -0.586650     0.000000
75%       2.824300     6.817750     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [8]:
print(data_clean.shape)

(1372, 5)

In [9]:
data_clean.isnull().sum()

Variance    0
Skewness    0
Curtosis    0
Entropy     0
Class       0
dtype: int64

In [10]:
num_of_numerical_cols = data_clean._get_numeric_data().columns.shape[0]
print(num_of_numerical_cols, 'numerical columns')
name_of_numerical_cols = data_clean._get_numeric_data().columns
print(name_of_numerical_cols)

5 numerical columns
Index(['Variance', 'Skewness', 'Curtosis', 'Entropy', 'Class'], dtype='object')

In [14]:
x = data_clean[['Variance','Skewness','Curtosis','Entropy']]
y = data_clean[['Class']]
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.4, random_state = 0 )

In [13]:
print('x_train = ', x_train.shape)
print('x_test = ', x_test.shape)
print('y_train = ', y_train.shape)
print('y_test = ', x_test.shape)

x_train =  (823, 5)
x_test =  (549, 5)
y_train =  (823, 1)
y_test =  (549, 5)

In [16]:
classifier=RandomForestClassifier(n_estimators=20, random_state = 0)
classifier.fit(x_train,y_train)

<ipython-input-16-bbb53ea21c9a>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(x_train,y_train)

RandomForestClassifier(n_estimators=20, random_state=0)

In [17]:
predictions=classifier.predict(x_test)

In [18]:
confusion_array = sklearn.metrics.confusion_matrix(y_test,predictions)
print(confusion_array)

[[302   4]
 [  1 242]]

In [19]:
print('TN = ', confusion_array[0,0] ) # True Negative
print('FN = ', confusion_array[1,0] ) # False Negative
print('TP = ', confusion_array[1,1] ) # True Positive
print('FP = ', confusion_array[0,1] ) # False Positive

TN =  302
FN =  1
TP =  242
FP =  4

In [21]:
classifier.score(x_test, y_test)

0.9908925318761385

In [23]:
sklearn.metrics.accuracy_score(y_test, predictions)

0.9908925318761385

In [33]:
print("By : ALDIE LUKMAN AL HAKIM - 171011400524")

By : ALDIE LUKMAN AL HAKIM - 171011400524